@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Readex Pro', sans-serif;
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

p {
    color: white;
    text-shadow: 0px 0px 15px gray;
    position: relative;
    justify-self: center;
    /* font-size: 25px; */
    /* float: right;
    position: relative; */
}

h2 {
    display: flex;
    margin-top: -75px;
    color: white;
    text-shadow: 0px 0px 15px gray;
    text-align: center
}

.clock {
    font-size: 1000%;
    color: white;
    text-shadow: 0px 0px 20px black;
    margin-top: 95px;
}

.container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.clock-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 25vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.source {
    position: absolute;
    color: white;
    text-shadow: 0px 0px 30px black;
}

.joke-container {
    
    display: flex;
    margin: auto auto 10px auto;
    justify-content: center;
    font-size: 120%;
    color: white;
    width: 50vw;
}

#joke {
    display: flex;
    text-align: center;
    padding: 5vh;
    text-shadow: 0px 0px 15px black
}

#weather-container {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#weather-icon {
    size: 75px;
    float: left;
    position: relative;
}