@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    font-family: 'Playfair Display', serif;
    /* font-family: 'Readex Pro', sans-serif; */
    box-sizing: border-box;
    user-select: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 30px beige;
}

/* #location {
    visibility: hidden;
} */

.bold {
    font-weight: bold;
    padding-bottom: 4px;
    text-decoration: underline;
}

.strike {
    text-decoration: line-through white 3px;
}

input {
    -webkit-appearance: none;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

p {
    color: white;
    text-shadow: 0px 0px 15px gray;
    /* position: relative; */
    margin: auto;
}

#greeting {
    display: flex;
    margin-top: -110px;
    color: white;
    text-shadow: 0px 0px 15px gray;
    text-align: center
}

.clockline h1, .clockline p {
    display: inline;
    vertical-align: top;
}

.clock {
    font-size: 1000%;
    color: white;
    text-shadow: 0px 0px 20px black;
    margin-top: 95px;
}

.container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.clock-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 25vh;
    margin: 30vh auto;
    justify-content: center;
    align-items: center;
}
.source {
    position: absolute;
    width: 33vw;
    color: white;
    text-shadow: 0px 0px 30px black;
    transition: text-shadow 0.25s;
}

.joke-container {
    display: flex;
    margin: auto auto 20px auto;
    justify-content: center;
    font-size: 120%;
    color: white;
    width: 50vw;
}

#joke {
    display: flex;
    text-align: center;
    /* padding: 5vh; */
    text-shadow: 0px 0px 15px black
}

#weather-container {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 80px;
    height: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 235, 205, 0.397);
    border-radius: 3px;
    padding: 0px 30px 0px 15px;
    transition: background-color 0.25s;
}

#weather-container:hover { 
    background-color:rgba(48, 35, 17, 0.986);
}

#weather-icon {
    width: 35px;
    margin: auto;
}

#location {
    color: white;
    position: absolute;
    top: 55px;
    right: 5px;
    width: 80px;
    font-size: 80%;
    text-align: center;
}

#todo-container {
    font-size: 85%;
    position: absolute;
    max-width: 15vw;
    max-height: 200px;
    right: 10px;
    bottom: 10px;
    overflow: scroll;
    background-color: rgba(47, 79, 126, 0.562);
    border-radius: 7px;
    padding: 5px 11px 5px 10px;
    transition: background-color 0.25s;
}

button {
    margin: 10px;
}

#todo-container:hover {
    background-color: rgba(47, 79, 126, 0.87);
    cursor: default;
}

#clearbutton {
    text-decoration: underline;
    font-size: 60%;
    position: inherit;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.todohover {
    cursor: pointer;
}

.todos {
    color: white;
    text-shadow: 0px 0px 15px gray;
    margin: auto;
}

input, input:focus, input:active {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}

input:focus::placeholder {
    color:transparent;
}